<div class="container">
  <div class="book-form">
    <h2>Adicione um Livro:</h2>
      <%= simple_form_for [@book] do |f| %>
        <%= f.input :title, label: "Título:" %>
        <%= f.input :year, label: "Ano de publicação:" %>
        <%= f.input :description, label: "Resumo:" %>
        <%= f.input :pages, label: "Número de Páginas:" %>
        <%= f.input :author, label: "Autor(a):" %>
        <%= f.input :photo, label: "URL da Foto:" %>
        <%= f.submit "Submit", class: "btn" %>
      <% end %>
    </div>
</div>
