<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4">

      <%= link_to books_path do %>
        <i class="fas fa-arrow-alt-circle-left"></i>
      <% end %>

      <div class="book-show-photo">
        <div class="book-img-show" style="background-image: url(<%= @book.photo %>);">
      </div>
      <div class="info-list">
        <ul>
          <li><p>Páginas: <%= @book.pages %></p></li>
          <li><p>Ano: <%= @book.year %></p></li>
          <li><p>Autor(a): <%= @book.author %></p></li>
        </ul>
      </div>
      <div class="new-review">
        <%= link_to "Escreva um Review", new_book_review_path(@book) %>
      </div>
    </div>
    </div>

    <div class="col-12 col-md-8 col-lg-8">
        <div class="title">
          <%= link_to edit_book_path(@book) do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <h2><%= @book.title %></h2>
        </div>

      <div class="book-description">
        <br>
        <p><%= @book.description %></p>
      </div>
    </div>

  </div>
</div>




