<div class="book-card-photo">
  <div class="card-book-name">
    <h3><%= @book.title %></h3>
  </div>
  <div class="product-img" style="background-image: url(<%= @book.photo %>);"></div>
</div>
    <p><%= @book.description %></p>
    <p><%= @book.author %></p>
    <p><%= @book.year %></p>
    <p><%= @book.pages %></p>
