<div class="container">
  <div class="book-card-photo">
    <div class="book-img" style="background-image: url(<%= @book.photo %>);"></div>
  </div>

    <div class="book-card-description">
      <h3><%= @book.title %></h3>
      <p><%= @book.description %></p>
    </div>

    <div class="info-list">
      <ul>
        <li><p>Author: <%= @book.author %></p></li>
        <li><p>Year: <%= @book.year %></p></li>
        <li><p>Pages: <%= @book.pages %></p></li>
      </ul>
    </div>
</div>
